.container {
  width: 94vw;
  display: grid;
  place-items: center;
}
.room-container {
  width: 41%;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
}
.room-container input {
  padding: 1rem;
  border-radius: 10px;
}
.room-container button {
  background-color: blueviolet;
  color: white;
}
